@import url('https://fonts.cdnfonts.com/css/segoe-ui-4?styles=18006,18004');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../resources/wallpapers/abstract-wallpapers/bg-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

/* EXTRAS */
.clr-white {
    color: white;
}

.width-20 {
    width: 20px;
}

.width-24 {
    width: 24px;
}

/* DESKTOP */
/* time */
#desktop-time-and-date {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#desktop-time {
    color: white;
    font-size: 96px;
}

#desktop-date {
    color: white;
    font-size: 24px;
}

/* BOTTOM NAV DESKTOP */
#bottom-nav-desktop {
    width: 100%;
    height: 48px;
    padding: 5px 15px 5px 10px;
    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.125);
}

/* system info */
#btm-nav-dsktp-system-info {
    display: flex;
}

.sys-info-caret-box,
.sys-info-basic-info-box,
.sys-info-date-notification-box {
    width: auto;
    height: 40px;
    cursor: pointer;
    border-radius: 3px;
    gap: 5px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgba(255, 255, 255, 0.10);
        transition: ease-in 100ms;
    }
}

.sys-info-caret-box {
    padding: 0px 5px;
}

.sys-info-notification-icon-box {
    display: grid;
    place-content: center;
    gap: 10px;
}

.sys-info-date-and-time-box {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#sys-info-date,
#sys-info-time {
    font-size: 12px;
}


#btm-nav-dsktp-menu-items {
    display: flex;
    gap: 5px;
}

.menu-items {
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.10);
        transition: ease-in 100ms;
    }
}

.menu-items-icons {
    width: 32px;
}

/* weather */
#btm-nav-dsktp-weather-right {
    width: auto;
    height: 40px;
    display: flex;
    gap: 5px;
    padding: 0px 5px;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.10);
        transition: ease-in 100ms;
    }
}

.weather-sun-icon-box {
    display: grid;
    place-content: center;
}

.weather-info-box {
    display: flex;
    flex-direction: column;
}

.weather-sun-icon {
    width: 32px;
}

.weather-info-temp,
.weather-info-day {
    color: white;
    font-size: 14px;
}

@media (width <=1080px) {
    #bottom-nav-desktop {
        width: 48px;
        height: 100%;
        position: fixed;
        left: 0;
        flex-direction: column;
        justify-content: center;
    }

    #btm-nav-dsktp-menu-items {
        flex-direction: column;
    }

    #btm-nav-dsktp-weather-right {
        display: none;
    }

    #btm-nav-dsktp-system-info {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(94.5vw, 10px);
        z-index: 100;
        padding: 10px;
        border-radius: 100px;
        width: 259px;

        backdrop-filter: blur(16px) saturate(200%);
        -webkit-backdrop-filter: blur(16px) saturate(200%);
        background-color: rgba(17, 25, 40, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.125);
    }

    .sys-info-caret-box {
        width: 40px;
    }

    .sys-info-caret-box,
    .sys-info-basic-info-box,
    .sys-info-date-notification-box {
        border-radius: 100px;
    }
}

@media (width <=768px) {
    #desktop-time {
        font-size: 72px;
    }

    #desktop-date {
        font-size: 20px;
    }

    #btm-nav-dsktp-system-info {
        transform: translate(92.5vw, 10px);
    }
}

@media (width <=425px) {
    #btm-nav-dsktp-system-info {
        transform: translate(86vw, 10px);
    }
}

@media (width <=320px) {
    #btm-nav-dsktp-system-info {
        transform: translate(83vw, 10px);
    }
}