@font-face {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    src: url(../resources/fonts/segoeui.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../resources/wallpapers/abstract-wallpapers/bg-7.jpg);
    object-fit: contain;
    overflow: hidden;
}

/* EXTRAS */


/* BOTTOM NAV DESKTOP */
#bottom-nav-desktop {
    width: 100%;
    height: 48px;
    padding: 5px 10px;
    position: fixed;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.125);
}

#btm-nav-dsktp-menu-items {
    display: flex;
    gap: 5px;
}

.menu-items {
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.10);
        transition: ease-in 100ms;
    }
}

.menu-items-icons {
    width: 32px;
}

#btm-nav-dsktp-weather-right {
    width: auto;
    height: 40px;
    display: flex;
    gap: 5px;
    padding: 0px 5px;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.10);
        transition: ease-in 100ms;
    }
}

.weather-sun-icon-box {
    display: grid;
    place-content: center;
}

.weather-info-box {
    display: flex;
    flex-direction: column;
}

.weather-sun-icon {
    width: 32px;
}

.weather-info-temp, .weather-info-day {
    color: white;
    font-size: 14px;
}